.header {
   
   background: $light-pink;

   nav {
      padding: 10px 24px;
   }

   &__logo {
        img {
           width: 8.8125rem;
        }
   } 

   &__menu {
      > span {
         display: block;
         width: 26px;
         height: 3px;
         border-radius: 50px;
         background-color: $black;
         transition: all 400ms ease-in-out;
         transform-origin: 2px 2px;

         &:not(:last-child) {
            margin-bottom: 5px;
         }
      }

      &.open {
         > span:first-child {
            transform: rotate(45deg);
         }

         > span:nth-child(2) {
            opacity: 0;
         }

         > span:last-child {
            transform: rotate(-45deg);
         }
      }
   }

   &__links {

      a {
         position: relative;
         font-size: $font-sm;
         color: white;
         font-weight: 500;
         transition: color 300ms ease-in-out;

         &:not(:last-child) {
            margin-right: 4em;
         }

         &::after {
            content: "";
            display: block;
            position: absolute;
            height: 5px;
            left: 0;
            right: 0;
            bottom: -34px;
            background: linear-gradient(45deg, $pink, $dark-pink);
            opacity: 0;
            transition: opacity 300ms ease-in-out;
         }

         &:hover {
            color: $dark-grey;

            &::after {
               opacity: 1;
            }
         }
      }
   }
}

.overlay {
   background: linear-gradient(225deg, red, transparent);
   position: fixed;
   top: 80px;
   left: 0;
   right: 0;
   bottom: 0;

}